<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table class="table table-condensed">
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <%= link_to 'Show', team %>
          <%= link_to 'Edit', edit_team_path(team) %>
          <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
